Binaries/
.vs/
Saved/
Intermediate/
Config/DefaultEditor.ini
Content/SwordAnimsetPro/SourceFiles/SourceFiles.zip
Content/SnSAnimsetPro/SourceFiles/SourceFiles.zip
Content/LongswordAnimsetPro/SourceFiles/Update.zip
Content/LongswordAnimsetPro/SourceFiles/SourceFiles.zip
Content/SpearAndHalberdAnimset/SourceFiles/SourceFiles.zip
Content/sA_Stonewallmaterials_2/Materials/Textures/T_Stonewall_3_AmbientOcclusion.uasset
Content/sA_Stonewallmaterials_2/Materials/Textures/T_Stonewall_3_BaseColor.uasset
Content/sA_Stonewallmaterials_2/Materials/Textures/T_Stonewall_3_Height.uasset
Content/sA_Stonewallmaterials_2/Materials/Textures/T_Stonewall_3_Normal.uasset
Content/sA_Stonewallmaterials_2/Materials/Textures/T_Stonewall_3_Roughness.uasset
Content/sA_Stonewallmaterials_2/Materials/Textures/T_Stonewall_4_AmbientOcclusion.uasset
Content/sA_Stonewallmaterials_2/Materials/Textures/T_Stonewall_4_BaseColor.uasset
Content/sA_Stonewallmaterials_2/Materials/Textures/T_Stonewall_4_Height.uasset
Content/sA_Stonewallmaterials_2/Materials/Textures/T_Stonewall_4_Normal.uasset
Content/sA_Stonewallmaterials_2/Materials/Textures/T_Stonewall_4_Roughness.uasset
Content/sA_Stonewallmaterials_2/Materials/Textures/T_Stonewall_5_AmbientOcclusion.uasset
Content/sA_Stonewallmaterials_2/Materials/Textures/T_Stonewall_5_BaseColor.uasset
Content/sA_Stonewallmaterials_2/Materials/Textures/T_Stonewall_5_Height.uasset
Content/sA_Stonewallmaterials_2/Materials/Textures/T_Stonewall_5_Normal.uasset
Content/sA_Stonewallmaterials_2/Materials/Textures/T_Stonewall_5_Roughness.uasset
